.wrapper {
    width: 100vw;
    min-height: 92.9vh;
    height: 100%;
    text-align: center;
    padding-top: 60px;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/04/14/55/jeans-313305_1280.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    padding-inline-end: 10vw;
}
